<?xml version="1.0" encoding="UTF-8"?>
<configuration>
    <settings>
      <color>
        <background></background>
        <foreground></foreground>
        <borders></borders>
      </color>
      <password>
        
      </password>
    </settings>
    <profile>
        <post name="">
            <candidate name="">
                <description></description>
                <image></image>
            </candidate>
        </post>
    </profile>
</configuration>
